{% extends 'base.html' %}
{% block title %}Събития{% endblock %}

{% block content %}

<form method="get" class="row g-3 mb-4">

    <div class="col-md-4">
        <label class="form-label">Локация</label>
        <select name="location" class="form-select">
            <option value="">Всички</option>
            {% for loc in locations %}
                <option value="{{ loc.id }}" {% if request.GET.location == loc.id|stringformat:"s" %}selected{% endif %}>
                    {{ loc.name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <label class="form-label">Търси по име</label>
        <input type="text" name="search" class="form-control"
               value="{{ request.GET.search }}">
    </div>

    <div class="col-md-4">
        <label class="form-label">Област</label>
        <select name="district" class="form-select">
            <option value="">Всички</option>
            {% for key, label in districts %}
                <option value="{{ key }}"
                    {% if request.GET.district == key %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-md-4">
        <label class="form-label">От дата</label>
        <input type="date" name="date_from" class="form-control"
               value="{{ request.GET.date_from }}">
    </div>

    <div class="col-md-4">
        <label class="form-label">До дата</label>
        <input type="date" name="date_to" class="form-control"
               value="{{ request.GET.date_to }}">
    </div>

    <div class="col-md-4">
        <label class="form-label">Сортиране по дата</label>
        <select name="sort" class="form-select">
            <option value="date_asc" {% if request.GET.sort == "date_asc" %}selected{% endif %}>Първо най-стари</option>
            <option value="date_desc" {% if request.GET.sort == "date_desc" %}selected{% endif %}>Първо най-нови</option>
        </select>
    </div>

    <div class="col-12">
        <button class="btn btn-primary">Приложи избраните филтри и сортиране</button>
        <a href="/events/" class="btn btn-secondary">Изчисти филтри и сортиране</a>
    </div>

</form>
    
    
<h1>Събития</h1>
 {% if user.is_authenticated %}
<a href="{% url 'event_create' %}" class="btn btn-success mb-3">Открий събитие</a>
 {% endif %}

    <ul class="list-group">
    {% for event in events %}
        <li class="list-group-item d-flex justify-content-between align-items-center">

            <div>
                <a href="{% url 'event_detail' event.pk %}">
                    {{ event.title }} — {{ event.date }} — област {{ event.location.get_district_display }}
                </a>
            </div>

            <div>
                 {% with days=event.days_since.days %}

                    {% if days > 7 %}
                        <button class="btn btn-success btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#resultsModal{{ event.id }}">
                            Резултати
                        </button>

                    {% elif days >= 0 and days <= 7 %}
                        {% if perms.events.edit_report %}
                            <button class="btn btn-warning btn-sm"
                                    data-bs-toggle="modal"
                                    data-bs-target="#reportModal{{ event.id }}">
                                Отчет
                            </button>
                        {% endif %}

                    {% elif event.date >= now %}
                        {% if perms.events.edit_report %}
                        <button class="btn btn-info btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#assignOrganizerModal{{ event.id }}">
                            Определи организатор
                        </button>
                        {% endif %}
                    {% endif %}
                {% endwith %}
            </div>

        </li>

{#        Резултати#}
        <div class="modal fade" id="resultsModal{{ event.id }}" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Резултати за {{ event.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <textarea class="form-control" rows="6" readonly>{{ event.report }}</textarea>
              </div>
            </div>
          </div>
        </div>

{#        Отчет#}
        <div class="modal fade" id="reportModal{{ event.id }}" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <form method="post" action="{% url 'event_report' event.id %}">
                {% csrf_token %}
                <div class="modal-header">
                  <h5 class="modal-title">Отчет за {{ event.title }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                  <textarea name="report" class="form-control" rows="6">{{ event.report }}</textarea>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary">Запази</button>
                </div>
              </form>
            </div>
          </div>
        </div>

{#        Определи организатор#}
         <div class="modal fade" id="assignOrganizerModal{{ event.id }}" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title">Определи организатор за {{ event.title }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>

{#              <div class="modal-body">#}
{##}
{#                {% for per in event.participanteventrole_set.all %}#}
{#                    <div class="d-flex justify-content-between align-items-center border-bottom py-2">#}
{#                        <div>#}
{#                            <strong>{{ per.participant.first_name }} {{ per.participant.last_name }}</strong><br>#}
{#                            <small class="text-muted">{{ per.role.name }}</small>#}
{#                        </div>#}
{##}
{#                        <div class="d-flex gap-2">#}
{##}
                            {# Направи организатор #}
{#                            {% if per.role.name != "Организатор" %}#}
{#                            <form method="post" action="{% url 'assign_organizer' per.pk %}">#}
{#                                {% csrf_token %}#}
{#                                <button class="btn btn-sm btn-outline-primary">#}
{#                                    Направи организатор#}
{#                                </button>#}
{#                            </form>#}
{#                            {% endif %}#}
{##}
                            {# Изтрий (само ако е организатор) #}
{#                            {% if per.role.name == "Организатор" %}#}
{#                            <form method="post" action="{% url 'remove_organizer' per.pk %}">#}
{#                                {% csrf_token %}#}
{#                                <button class="btn btn-sm btn-outline-danger" title="Премахни организатор">#}
{#                                    <i class="bi bi-x-lg"></i>#}
{#                                </button>#}
{#                            </form>#}
{#                            {% endif %}#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                {% empty %}#}
{#                    <p class="text-muted">Няма доброволци към това събитие.</p>#}
{#                {% endfor %}#}
{##}
{#              </div>#}
                <div id="organizer-list-{{ event.id }}">
                    {% include "events/partials/organizer_list.html" with event=event %}
                </div>

            </div>
          </div>
        </div>

    {% empty %}
        <li class="list-group-item">Няма събития.</li>
    {% endfor %}
</ul>


{% endblock %}
