{% extends 'base.html' %}
{% block title %}Локация{% endblock %}

{% block content %}
<h2>Места за почистване</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div id="map" style="height: 400px;" class="mb-3"></div>

    <button class="btn btn-success">Запази</button>
</form>

<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
    // Начална позиция (пример: България)
    var startLat = "{{ form.instance.latitude|default_if_none:42.6977 }}".replace(",", ".");
    var startLng = "{{ form.instance.longitude|default_if_none:23.3219 }}".replace(",", ".");

    startLat = parseFloat(startLat);
    startLng = parseFloat(startLng);
    var map = L.map('map').setView([startLat, startLng], 7);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map);

    var marker = L.marker([startLat, startLng], {draggable: true}).addTo(map);

    function updateFields(lat, lng) {
        document.getElementById("id_latitude").value = lat.toFixed(6);
        document.getElementById("id_longitude").value = lng.toFixed(6);
    }

    // При клик на картата
    map.on('click', function(e) {
        marker.setLatLng(e.latlng);
        updateFields(e.latlng.lat, e.latlng.lng);
    });

    // При влачене на маркера
    marker.on('dragend', function(e) {
        var pos = e.target.getLatLng();
        updateFields(pos.lat, pos.lng);
    });
</script>

{% endblock %}