{% extends 'base.html' %}
{% block title %}Locations{% endblock %}

{% block content %}
<h1>Локации</h1>

<a href="{% url 'location_create' %}" class="btn btn-success mb-3">Нова локация</a>

<ul class="list-group">
    {% for location in locations %}
        <li class="list-group-item">
            <a href="{% url 'location_detail' location.pk %}">
                {{ location.name }} — {{ location.address }}
            </a>
        </li>
    {% empty %}
        <li class="list-group-item">Няма локации.</li>
    {% endfor %}
</ul>
{% endblock %}
