{% extends 'base.html' %}
{% block title %}Participants{% endblock %}

{% block content %}
<h1>Доброволци</h1>

<a href="{% url 'participant_create' %}" class="btn btn-success mb-3">Запиши се за доброволец</a>

<ul class="list-group">
    {% for participant in participants %}
        <li class="list-group-item">
            <a href="{% url 'participant_detail' participant.pk %}">
                {{ participant.first_name }} {{ participant.last_name }}
            </a>
        </li>
    {% empty %}
        <li class="list-group-item">Бъди пръв!</li>
    {% endfor %}
</ul>
{% endblock %}
